@media ( max-width: 1439px )
    .sidepanal
        display: none
@media ( max-width: 1200px )
    .container
        max-width: 960px
    .promo
        padding-left: 10px
    .about
        padding-left: 10px
        padding-right: 10px
        padding-top: 50px
        &__wrapper
            grid-template-columns: 400px 520px
            column-gap: 40px
        &__skills
            column-gap: 20px
            grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 250px)
        &__skill
            grid-template-columns: 40px 190px
            column-gap: 15px
    .resume
        &__wrapper
            column-gap: 50px
    .skills
        &__wrapper
            grid-template-columns: repeat(3, minmax(230px, auto))
            grid-template-rows: repeat(2, minmax(230px, auto))
            grid-auto-rows: minmax(230px, auto)
            justify-content: space-between
        &__item
        padding: 20px 15px 15px 20px
        &__ratings
            grid-template-columns: repeat(2, minmax(350px, auto))
            margin-top: 80px
@media ( max-width: 992px )
    .container
        max-width: 720px
    .about
        &__wrapper
            grid-template-columns: 300px 380px
        &__img
            width: 300px
            grid-row: 1/3
        &__skills
            grid-template-columns: 380px
        &__skill
            grid-template-columns: 40px 320px
            column-gap: 20px
    .resume
        &__wrapper
            grid-template-columns: repeat(2, 325px) 
    .portfolio
        &__wrapper
            grid-template-columns: repeat(auto-fit, 280px)

@media ( max-width: 768px )
    .container
        max-width: 540px
    .title
        &_fz48
            line-height: 39px
        &_fz36
            font-size: 24px
    .menu
        &__block
            width: 250px
            padding-left: 20px
    .promo
        &__title
            font-size: 28px
            width: 300px
    .about
        padding-top: 30px
        &__wrapper
            grid-template: 400px auto auto / 1fr
        &__img
            width: 400px
            margin: 0 auto
        &__skill
            grid-template-columns: 40px 200px
            column-gap: 20px
        &__skills
            grid-template-columns: repeat(2, 260px)
    .resume
        padding-top: 80px
        &__wrapper
            grid-template-columns: 500px
            gap: 50px
    .skills
        margin-top: 50px
        &__wrapper
            grid-template-columns: repeat(2, minmax(230px, auto))
            grid-template-rows: repeat(2, minmax(230px, auto))
            grid-auto-rows: minmax(230px, auto)
        &__ratings
            grid-template-columns: repeat(2, minmax(230px, auto))
@media ( max-width: 576px )
    .promo
        padding-left: 10px
    .about
        &__wrapper
            grid-template-rows:  340px auto auto
            grid-template-columns: 1fr
            padding: 0 10px
        &__skills
            grid-template-columns: 1fr
        &__img
            width: 280px
    .resume
        &__wrapper
            grid-template-columns: 300px
            padding: 40px 15px 0 15px
    .skills
        &__subtitle
            line-height: 40px
        &__wrapper
            grid-template-columns: 270px
            grid-template-rows: 270px
            justify-content: center
        &__ratings
            grid-template-columns: 100%
            gap: 40px